article {
    color: #2a3c5f;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
    border: #282c34 solid 3px;
    box-shadow: 10px 10px 5px darkgrey;
    width: 15rem;
}

article header {
    height: 4rem;
}

article img {
    width: 12rem;
}

article div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}